tenacity
Werkzeug
Flask_Cors
Flask_SQLAlchemy
Flask
flask_appconfig
py_lru_cache
lxml
requests
SQLAlchemy
raven
pydantic
pytest
Flask_Cache
Flask_RESTful
requests_futures
semantic_version
# there's a regression in mod_wsgi 4.5.4:
# https://github.com/GrahamDumpleton/mod_wsgi/issues/147
# install httpd-devel in order to have apxs command, otherwise build fails
mod_wsgi!=4.5.4
flask
flask-appconfig>=0.10
pydantic
blinker
pygithub
psycopg2-binary
git+https://github.com/fabric8-analytics/fabric8-analytics-worker.git#egg=F8A_WORKER_VERSION
git+https://github.com/fabric8-analytics/fabric8-analytics-auth.git#egg=F8A_AUTH_VERSION
git+https://github.com/fabric8-analytics/fabric8-analytics-utils.git#egg=F8A_UTILS
git+https://github.com/fabric8-analytics/fabric8-analytics-version-comparator.git#egg=f8a_version_comparator