Werkzeug
Flask
requests
botocore
flask_appconfig
flask_cache
flask_cors
flask_restful
flask_sqlalchemy
GitPython
py_lru_cache
lxml
pydantic
PyGithub
raven
requests_futures
selinon
semantic_version
SQLAlchemy
tenacity
gunicorn
gevent

#packages discovered after running the image on cluster
psycopg2-binary

f8a_worker @ git+https://github.com/fabric8-analytics/fabric8-analytics-worker.git@c74145b#egg=f8a_worker
f8a_auth @ git+https://github.com/fabric8-analytics/fabric8-analytics-auth.git@5ff9438#egg=fabric8a_auth
f8a_version_comparator @ git+https://github.com/fabric8-analytics/fabric8-analytics-version-comparator.git@8a57ac7#egg=f8a_version_comparator
f8a_utils @ git+https://github.com/fabric8-analytics/fabric8-analytics-utils.git@f4fef58#egg=f8a_utils