name: CI Build / Push Image 
on:
  repository_dispatch:
    types: [build-image-command]

env:
  REGISTRY:  ghcr.io
  REPOSITORY: ${{ github.event.client_payload.github.payload.repository.full_name }}
  DEFAULT_TAG: ${{ github.event.client_payload.github.payload.issue.number }}
  FULL_NAME: bayesian-bayesian-api
 

jobs:
  Build-push-image:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: |
          git fetch origin +refs/pull/${{ github.event.client_payload.github.payload.issue.number }}/merge
          git checkout FETCH_HEAD
      - name: Create comment
        uses: peter-evans/create-or-update-comment@v1
        with:
          issue-number: ${{ github.event.client_payload.github.payload.issue.number }}
          body: |
            :test_tube: [CI has Started Image Build]( https://github.com/${{github.repository}}/actions/runs/${{github.run_id}})
      - name: Login to Github Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.event.client_payload.github.actor }}
          password: ${{ secrets.CR_PAT }}
      - name: Build Image
        run:   docker build --no-cache -t ${{env.REGISTRY}}/${{env.REPOSITORY}}/${{env.FULL_NAME}}:${{env.DEFAULT_TAG}} -f Dockerfile .
      - name: Push Image
        run: docker push ${{env.REGISTRY}}/${{env.REPOSITORY}}/${{env.FULL_NAME}}:${{env.DEFAULT_TAG}}
      - name: Create success comment
        if: success()
        uses: peter-evans/create-or-update-comment@v1
        env:
          IMAGE_URL: ${{env.REGISTRY}}/${{env.REPOSITORY}}/${{env.FULL_NAME}}:${{env.DEFAULT_TAG}}
        with:
          issue-number: ${{ github.event.client_payload.github.payload.issue.number }}
          body: |
           :v: [Image Build Successfull]( https://github.com/${{github.repository}}/actions/runs/${{github.run_id}}) @${{github.event.client_payload.github.actor}}, Avaliable at: ```${{ env.IMAGE_URL }}``` 
  
      - name: Create fail comment
        if: failure()
        uses: peter-evans/create-or-update-comment@v1
        with:
          issue-number: ${{ github.event.client_payload.github.payload.issue.number }}
          body: |
           :facepalm: [Build and Push Image Failed]( https://github.com/${{github.repository}}/actions/runs/${{github.run_id}})
     
